<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>$(GID_CLIENT_ID)</string>
    <key>FacebookAppID</key>
    <string>$(FACEBOOK_APP_ID)</string>
    <key>FacebookDisplayName</key>
    <string>YemekTarifiApp</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GID_CLIENT_ID)</string>
                <string>fb$(FACEBOOK_APP_ID)</string>
                <string>$(APPLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>FacebookClientToken</key>
    <string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
	</array>
    
    <key>NSCameraUsageDescription</key>
    <string>Kamera ile fotoğraf çekebilmeniz için erişim izni gereklidir.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Galeriden fotoğraf seçebilmeniz için erişim izni gereklidir.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Fotoğraflarınızı kaydedebilmemiz için erişim izni gereklidir.</string>
    
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
